body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: auto;
    margin: 0;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'robotoregular';
    src: url('fonts/roboto-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotoitalic';
    src: url('fonts/roboto-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal; 
}

body {
    font-family: 'robotoregular';
    font-style: normal;

}

header {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Logo-Left {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: #f9faf8;
   font-weight: bold;
   font-size: 24px;
}

.Links-Right {
display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 1em;
   list-style-type: none;
   
}

a {
    color: white;
    text-decoration: none;
}



.section-01 {
    background-color: #1f2937;
    padding: 5px 90px 90px 90px;
    
}



.image-desc {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;

   
}

.h3-awesome {
    margin-bottom: 0;
}

.h3-subtext {
    margin-top: 0;
    margin-bottom: 5px;
}

.h3-awesome, .h3-subtext {
    white-space: wrap;

}


.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    background-color: rgb(0, 191, 255);
    color: white;
    font-weight: bold;
    border-color: rgb(147, 255, 255);
    border-radius: 5px;
    width: 90px;
    height: 30px;
    padding: 0px 30px 0px 30px;

}

img {
    width: 300px;
    height: 180px;
}


.h3-awesome {
    color: white;
    font-size: 30px;

}

.h3-subtext {
    color: white;
    font-size: small;
    flex-shrink: 1;
    flex-flow: row wrap;
}

.section-02 {
    background-color: rgb(241, 245, 252);
    padding: 90px;
    display: flex;
    justify-content: center;
    
    text-align: center;
    flex-direction: column;
    margin-top: 0;

}

h4 {
    font-size: 30px;
}

.row-boxes {
    display: flex;
    flex-flow: row nowrap;
    gap: 20px;
}

.invisalign {
    display: flex;
    max-width: 150px;
    align-items: center;
    flex-direction: column;
}

.box {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-color: rgb(0, 162, 255);
    border-radius: 15%;
    flex-shrink: 0;
    margin-bottom: 6px;
}

.box-txt {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    max-width: 100px;
}

.section-03 {
    background-color: rgb(168, 189, 221);
    padding: 90px;
    display: flex;
    justify-content: center;
   flex-direction: column;
    
}

.quote {
    font-style: italic;
max-width: 470px;
font-size: 20px;

}

.quote-author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 15px;
    font-weight: bold;
}
.section-04 {
    background-color: rgb(241, 245, 252);
    padding: 90px;
    
   
}

.blue-container {
    width: 400px;
    height: 20px;
    border-style: solid;
    background: rgb(0, 162, 255);
    border-color: rgb(0, 162, 255);
    border-radius: 10px;
    padding: 30px 60px 30px 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 35px;


}

.cont-text {
    flex-direction: column;
   color: white;
   justify-content: space-between;
}

.call-to-action {
 font-size: 15px;
 font-weight: bold;
 margin-bottom: 0;

}

.enlist-notice {
    margin-top: 0;
    font-size: 10px;
}

.sign-up-button-2 {
    background: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    flex-shrink: 1;
    background-color: rgb(0, 162, 255);
    color: white;
    font-weight: bold;
    border-color: white;
    border-radius: 5px;
    width: 90px;
    height: 30px;
    padding: 0px 30px 0px 30px;

}


footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: white;
    padding: 30px;
   width: 1250px;
}