body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: auto;
    margin: 0;
}

@font-face {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    src: url();
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Logo-Left {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   color: #f9faf8;
   font-weight: bold;
   font-size: 24px;
}

.Links-Right {
display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 1em;
   list-style-type: none;
   
}

a {
    color: white;
    text-decoration: none;
}

.section-01 {
    background-color: #1f2937;
    padding: 5px 90px 90px 90px;
}



.image-desc {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 0;
    margin-top: 50px;
   
}

img {
    width: 300px;
    height: 180px;
}

.section-02 {
    background-color: rgb(241, 245, 252);
    padding: 90px;
}

.section-03 {
    background-color: rgb(168, 189, 221);
    padding: 90px;
    
}

.section-04 {
    background-color: rgb(241, 245, 252);
    padding: 90px;
   
}

footer {
    background-color: #1f2937;
    color: white;
    padding: 30px;
   width: 1250px;
}